certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
cryptography==3.3.2
decorator==4.4.2
enum34==1.1.10
gyp==0.1
idna==2.10
ipaddress==1.0.23
keyboard==0.13.5
mininet==2.3.0
networkx==2.2
pexpect==4.6.0
pycparser==2.21
pyflakes==2.1.1
requests==2.27.1
selenium==3.141.0
six==1.16.0
urllib3==1.26.8
